.paragraph-1 {
    color:blue
             }
.paragraph-2 {
    color: pink;
             }
.paragraph-3{
    color: purple;
            }
#paragraph-4{
    color: aliceblue;
            }
